* {
  box-sizing: border-box;
}
html,
body {
  box-sizing: border-box;
  font-family: Titillium, Nunito, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 100%;
}
a {
  text-decoration: underline;
  color: #77a;
}
.main-wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.menu-container {
  border-bottom: 2px solid #a50061;
  padding: 1rem;
}
.message {
  padding: 25% 0;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.social-links {
  font-size: 1.4rem;
  color: #4b4b4b;
  text-align: center;
  margin-bottom: 2rem;
}
.social-links i {
  margin: 1rem auto;
}
.social-links a {
  margin: 0 1rem;
  color: #4b4b4b;
}
.mb-2 {
  margin-bottom: 2rem;
}
.p-0 {
  padding: 0;
}
.primary-color {
  color: #a50061;
}
.secondary-color {
  color: #4b4b4b;
}
.main {
  /*margin: 15% 25%;*/
  text-align: center;
  font-size: 1.6rem;
}
.main-body {
  padding: 1rem;
  flex-grow: 1;
}
.privacy {
  padding: 0;
  margin: 5% 10%;
  font-size: 1.4rem;
}
.footer {
  border-top: 1px solid #4b4b4b;
  background-color: #eaeaea;
  color: #4b4b4b;
  padding: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}
.footer-left {
  text-align: left;
}
.footer-right {
  text-align: right;
}
@media (max-width: 767px) {
  .privacy {
    font-size: 1.2rem;
    padding: 0;
    margin: 5%;
  }
  .message {
    width: 75%;
    margin: 3rem auto;
  }
  .footer-left {
    text-align: center;
  }
  .footer-right {
    text-align: center;
  }
}
